<header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/login">

    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</header>
<ion-content >
  <ion-list class="ion-margin ion-padding" >
     <!-- Logo Section -->
     <div class="logo" style="text-align: center; margin-top: 10px;">
      <img src="assets/Let'sTalk.png" style="width: 250px; height: auto;">
    </div>
    <ion-card>
      <form [formGroup]="form">
 
        <ion-input
        placeholder="Email" 
        type="email" formControlName="email"  
        class="ion-margin-buttom"
        errorText="Please enter your email">
       <ion-icon name="mail-outline" slot="start" >
     
       </ion-icon></ion-input>
    
        <ion-input
        placeholder="name" 
        type="text" 
        formControlName="name"  
        class="ion-margin-buttom"
        errorText="Please enter your name">
       <ion-icon name="person-outline" slot="start" >
     
       </ion-icon></ion-input>
    
       <ion-input
       placeholder="Password" 
       type="text"
        formControlName="password"  
       [errorText]="form.get('password')?.hasError('minlength') ? '*.password must be atleast 8 character' :'please enter your password'">
      <ion-icon name="lock-closed-outline" slot="start" >
      <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
      </ion-icon></ion-input>
    
      
    <div>
      @if (!isSignUp()) {
        <ion-button size="large"
        shape="round"
         expand="block" 
         class="ion-margin-top ion-padding-top" 
         [strong]="true" 
         (click)="onSubmit()"
         >
          <ion-text color="">Sign up </ion-text>
        </ion-button>
      } @else {
        <ion-button 
        size="large"
        
         expand="block" 
         class="ion-margin-top ion-padding-top" 
         [strong]="true" >
         <ion-spinner name="cresecent">
    
         </ion-spinner>
         </ion-button>
      }
     
    </div>
      
     
     </form>
    </ion-card>
    
<!-- Login Section -->
<div class="login ion-margin-bottom" style="text-align: center;">
  <ion-text>Already have an account?</ion-text>
  <ion-button fill="clear" size="small" [strong]="true" routerLink="/login">
    Login
  </ion-button>
</div>
</ion-list>
<ion-alert 
[isOpen]="!!erroMessage()"
(didDimiss)="setErroMessage(null)"
header="Alert" 
[message]="erroMessage()" 
[buttons]="['OK']"> 

</ion-alert>
</ion-content>

