<ion-header>
  <ion-toolbar>
    <ion-title> New chat</ion-title>
<ion-buttons slot="start" >
  <ion-button color="medium" (click)="closeModal()" >
    <ion-icon   name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    
    @for (user of users(); track $index ) {
    <ion-item color="light" (click)="startChat(user)" >
      <ion-avatar slot="start">
        <ion-img [src]="user?.photo" ></ion-img>
      </ion-avatar>
      <ion-label>
      {{user.name}}
      </ion-label>
  
    </ion-item>
  }
  </ion-list></ion-content>
